---
import { SEO } from "astro-seo";
import Layout from "../layouts/Layout.astro";
import ItemPost from "../components/ItemPost.astro";


import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");

---
<head>
    <SEO
      title="Blog · Victor Benazzi"
      description="Compartilhando conhecimento sobre Wordpress, Elementor e Webdesign"
      openGraph={{
        basic: {
          title: "Front-end Developer e Web Designer",
          type: "Blog",
          image: "https://www.victorbenazzi.tech/Og-SEO.png",
        },
      }}
    />
  
</head>

<Layout>
    <section class="flex flex-col items-start justify-center gap-y-10 w-full lg:w-[1024px] mt-20 px-6 lg:px-0">
    <div class="flex flex-col gap-y-6 w-full lg:items-start">
      <h1
        class="text-5xl lg:text-5xl x:text-8xl text-stone-50 font-bold lg:items-start">
        Blog
      </h1>
      <p class="text-stone-300 w-full text-base" >
        Compartilhando conhecimento!
      </p>
    </div>

</section>




<main class="flex flex-col items-start justify-center gap-y-12 w-full lg:w-[1024px] mt-20 px-6 lg:px-0 box-border">

  {blogEntries.map(blogPostEntry =>(
   
   
    <ItemPost
        PostTitle={blogPostEntry.data.title}
        PostImage={blogPostEntry.data.cover}
        PostDate={blogPostEntry.data.pubDate}
        PostContent={blogPostEntry.data.description}
        AltImg={blogPostEntry.data.coverAlt}
        LinkPost={`/blog/${blogPostEntry.slug}`}
      />
   
  ))}



        
       


</main>
</Layout>