---
import { SEO } from "astro-seo";
import Layout from "../layouts/Layout.astro";
import MainButton from "../components/MainButton.astro";
import { Image } from "astro:assets";
import  DonutsImg from "../assets/donuts-bg.png";
import Header from "../components/Header.astro"; 
import AvatarImgIngrid from "../assets/avatar-ingrid.png";
import LogoLoubfy from "../assets/logo-loubfy.png";
import AvatarImgThauane from "../assets/avatar-thauane.png";
import LogoMutinno from "../assets/logo-mutinno.png";
import AvatarImgKelvyn from "../assets/avatar-kelvyn.png";
import BgCilindro from  "../assets/BgCilindro.png";
import PortfolioCard from "../components/PortfolioCard.astro";
import SiteMutinno from "../assets/site-mutinno.png"
import SiteTogrow from "../assets/SiteTogrow.png"
import LpDisparo from "../assets/LpDisparo.png"
import SiteDisparo from "../assets/SiteDisparoInstitucional.png"
import SiteBrasilfone from "../assets/SiteBrasilfone.png"
import SiteAtivos from "../assets/SiteAtivos.png"
import SiteLinkou from "../assets/SiteLinkou.png"
import LpCapton from "../assets/LpCapton.png"
import SiteEstudyou from "../assets/SiteEstudyou.png"
---
<head>
  
    <SEO
      title="Victor Benazzi - Web Designer"
      description="Criação de Sites e landing pages que convertem."
      openGraph={{
        basic: {
          title: "Front-end Developer e Web Designer",
          type: "Website",
          image: "https://i.imgur.com/hBQ4P4Y.png",
        }
      }}
     
    
    />
</head>

<Layout title="Victor Benazzi - Web Designer">
  <Header />


  
   <section class="flex flex-row w-full h-auto py-12 px-6 relative xl:w-[1440px] xl:h-[800px] items-center">
   
    <div class="flex flex-col gap-y-6 w-full">
      <h1 class="text-5xl md:text-6xl lg:text-8xl text-slate-50 font-bold xl:w-[68%] w-[100%]">
        Web Designer <span class="text-indigo-300">&</span> Front-end Developer
      </h1>
      <p class="text-slate-100 xl:w-[50%] w-[100%] text-base ">
        Sou um web designer e front-end developer especializado em criar sites
        e landing pages incríveis. Com HTML, CSS, JavaScript, WordPress e
        outras tecnologias, desenvolvo soluções web que combinam design,
        funcionalidade e responsividade.
      </p>
      <MainButton 
      labelButton="Fale comigo"
      link="https://wa.me/5569992993889"
      target="_blank"
      />
    </div>


    <div class="absolute top-0 right-0 xl:top-40 xl:-right-20">
      <Image
        src={DonutsImg}
        alt="victor Benazzi Background"
        width="700"
      />

   </section>


    <section class="flex flex-col w-full h-[400px] px-6 relative xl:w-[1440px] items-start justify-center gap-y-8">
    
     <div class="flex flex-col gap-y-6 w-full">
       <h2 class="lg:text-6xl xl:text-6xl md:text-6xl text-2xl text-slate-50 font-bold">
        Criação e integração
       </h2>
       <p class="text-slate-100 xl:w-[50%] w-[100%] text-base ">
        Crio, desenvolvo e integro com as principais ferramentas do mercado.
       </p>
     </div>
 
     <div class="flex flex-row flex-wrap gap-x-4 gap-y-4 w-[100%]">
      <!-- Icon elementor -->
      <div class="w-[64px] ">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
          <rect width="64" height="64" rx="17.6867" fill="#18181B"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8091 32C19.8091 38.7322 25.2673 44.1905 31.9995 44.1905C38.7318 44.1905 44.19 38.7322 44.19 32C44.19 25.2677 38.7318 19.8095 31.9995 19.8095C25.2673 19.8095 19.8091 25.2677 19.8091 32ZM28.9515 26.9205H26.92V37.0795H28.9515V26.9205ZM30.9829 26.9205H37.0772V28.9519H30.9829V26.9205ZM37.0772 30.9834H30.9829V33.0148H37.0772V30.9834ZM30.9829 35.048H37.0772V37.0795H30.9829V35.048Z" fill="#E2E8F0"/>
        </svg>
      </div>

      <!-- Icon wordpress -->
      <div class="w-[64px] ">
        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="64" viewBox="0 0 65 64" fill="none">
          <rect x="0.75" width="64" height="64" rx="17.6867" fill="#18181B"/>
          <path d="M32.75 20.541C35.0418 20.541 37.2727 21.2236 39.1622 22.5036C41.003 23.7471 42.4537 25.5025 43.3192 27.5505C44.8308 31.1223 44.4285 35.2061 42.2586 38.4122C41.0152 40.253 39.2598 41.7036 37.2118 42.5691C33.6399 44.0808 29.5561 43.6785 26.35 41.5086C24.5093 40.2651 23.0586 38.5097 22.1931 36.4617C20.6815 32.8899 21.0838 28.8061 23.2537 25.6C24.4971 23.7592 26.2525 22.3086 28.3005 21.4431C29.7024 20.8457 31.2262 20.541 32.75 20.541ZM32.75 19.8095C26.0209 19.8095 20.5596 25.2709 20.5596 32C20.5596 38.7291 26.0209 44.1905 32.75 44.1905C39.4792 44.1905 44.9405 38.7291 44.9405 32C44.9405 25.2709 39.4792 19.8095 32.75 19.8095Z" fill="#E2E8F0"/>
          <path d="M22.5957 31.9998C22.5957 35.8886 24.8144 39.4482 28.3252 41.1427L23.4734 27.8673C22.8883 29.1716 22.5957 30.5735 22.5957 31.9998ZM39.6136 31.4878C39.6136 30.2322 39.1626 29.3666 38.7725 28.684C38.3824 28.0013 37.7729 27.1358 37.7729 26.3069C37.7729 25.4779 38.4799 24.5027 39.4795 24.5027H39.6136C35.481 20.7114 29.0567 20.9918 25.2654 25.1366C24.8997 25.5389 24.5584 25.9655 24.2658 26.4166H24.9241C25.9847 26.4166 27.6304 26.2825 27.6304 26.2825C28.1789 26.2459 28.2399 27.0505 27.6913 27.1236C27.6913 27.1236 27.1428 27.1846 26.5332 27.2212L30.2269 38.2291L32.4456 31.5609L30.8608 27.2212C30.3123 27.1846 29.8003 27.1236 29.8003 27.1236C29.2517 27.0871 29.3127 26.2581 29.8612 26.2825C29.8612 26.2825 31.5435 26.4166 32.5309 26.4166C33.5184 26.4166 35.2372 26.2825 35.2372 26.2825C35.7858 26.2459 35.8468 27.0505 35.2982 27.1236C35.2982 27.1236 34.7496 27.1846 34.1401 27.2212L37.8094 38.1438L38.8578 34.828C39.321 33.3773 39.6014 32.3533 39.6014 31.4756L39.6136 31.4878ZM32.921 32.8775L29.8734 41.74C31.9214 42.3373 34.1035 42.2886 36.1149 41.5815L36.0418 41.4474L32.921 32.8775ZM41.6616 27.1236C41.7104 27.465 41.7348 27.8185 41.7348 28.172C41.7348 29.2082 41.5397 30.3663 40.9668 31.8047L37.8582 40.7769C42.6125 38.0097 44.307 31.951 41.6616 27.1236Z" fill="#E2E8F0"/>
        </svg>
      </div>

       <!-- Icon RD station -->
      <div class="w-[64px] ">
        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="64" viewBox="0 0 65 64" fill="none">
          <rect x="0.5" width="64" height="64" rx="17.6867" fill="#18181B"/>
          <path d="M32.4948 37.4978L44.69 42.0104V37.9643L32.4948 33.4518L20.3091 37.9643V42.0104L32.4948 37.4978Z" fill="#CDCDCD"/>
          <path d="M32.4948 37.4979L20.3091 42.0104L24.8322 44.1905L32.4948 41.3535L40.1669 44.1905L44.69 42.0104L32.4948 37.4979Z" fill="#E2E8F0"/>
          <path d="M32.4948 26.5022L20.3091 21.9896V26.0357L32.4948 30.5482L44.69 26.0357V21.9896L32.4948 26.5022Z" fill="#CDCDCD"/>
          <path d="M32.4948 26.5022L44.69 21.9896L40.1669 19.8095L32.4948 22.6465L24.8322 19.8095L20.3091 21.9896L32.4948 26.5022Z" fill="#E2E8F0"/>
        </svg>
      </div>


       <!-- Icon Figma -->
       <div class="w-[64px] ">
        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="64" viewBox="0 0 65 64" fill="none">
          <rect x="0.25" width="64" height="64" rx="17.6867" fill="#18181B"/>
          <path d="M40.5739 27.1734C41.474 26.4983 42.1389 25.5571 42.4744 24.4832C42.8098 23.4092 42.7989 22.2569 42.4431 21.1895C42.0873 20.122 41.4047 19.1936 40.4919 18.5357C39.5791 17.8778 38.4825 17.5238 37.3573 17.5238H27.7077C26.5825 17.5238 25.4859 17.8778 24.5731 18.5357C23.6603 19.1936 22.9777 20.122 22.6219 21.1895C22.2661 22.2569 22.2552 23.4092 22.5906 24.4832C22.9261 25.5571 23.591 26.4983 24.4912 27.1734C23.8096 27.6842 23.2596 28.35 22.8866 29.1156C22.5136 29.8813 22.3285 30.7248 22.3464 31.5763C22.3644 32.4278 22.5849 33.2628 22.9898 34.012C23.3947 34.7613 23.9723 35.4033 24.6748 35.8849C23.8758 36.4924 23.2451 37.2937 22.8423 38.2131C22.4396 39.1324 22.2782 40.1393 22.3734 41.1385C22.4686 42.1377 22.8172 43.096 23.3863 43.9228C23.9554 44.7496 24.7261 45.4174 25.6254 45.863C26.5248 46.3087 27.523 46.5174 28.5255 46.4695C29.5281 46.4215 30.5018 46.1185 31.3545 45.589C32.2072 45.0596 32.9106 44.3212 33.3982 43.4439C33.8858 42.5666 34.1414 41.5794 34.1408 40.5757V35.7509C34.704 36.1733 35.3449 36.4806 36.0268 36.6553C36.7088 36.8301 37.4185 36.8687 38.1155 36.7692C38.8124 36.6696 39.4829 36.4338 40.0887 36.0751C40.6944 35.7164 41.2236 35.2419 41.646 34.6787C42.0684 34.1155 42.3758 33.4746 42.5505 32.7926C42.7252 32.1107 42.7639 31.4009 42.6643 30.704C42.5648 30.0071 42.3289 29.3366 41.9702 28.7308C41.6115 28.125 41.1371 27.5958 40.5739 27.1734ZM34.1408 19.6682H37.3573C38.2104 19.6682 39.0285 20.0071 39.6318 20.6103C40.235 21.2135 40.5739 22.0316 40.5739 22.8847C40.5739 23.7378 40.235 24.5559 39.6318 25.1592C39.0285 25.7624 38.2104 26.1013 37.3573 26.1013H34.1408V19.6682ZM37.3573 34.6787C36.7211 34.6787 36.0993 34.49 35.5703 34.1366C35.0413 33.7832 34.6291 33.2808 34.3856 32.6931C34.1422 32.1053 34.0785 31.4586 34.2026 30.8346C34.3267 30.2107 34.633 29.6376 35.0829 29.1877C35.5327 28.7379 36.1058 28.4315 36.7298 28.3074C37.3537 28.1833 38.0005 28.247 38.5882 28.4905C39.176 28.7339 39.6783 29.1462 40.0318 29.6751C40.3852 30.2041 40.5739 30.826 40.5739 31.4622C40.5739 32.3152 40.235 33.1334 39.6318 33.7366C39.0285 34.3398 38.2104 34.6787 37.3573 34.6787Z" fill="#E2E8F0"/>
        </svg>
      </div>

      
      


       <!-- Icon wix -->
       <div class="w-[64px] ">
        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="64" viewBox="0 0 65 64" fill="none">
          <rect x="0.75" width="64" height="64" rx="17.6867" fill="#18181B"/>
          <path d="M34.8414 25.3934C34.1634 25.7497 33.8975 26.3507 33.8975 28.0099C34.1477 27.7854 34.4382 27.6103 34.7537 27.494C35.0684 27.379 35.3656 27.2206 35.6365 27.0234C36.2108 26.5979 36.2906 26.0555 36.2906 25.1434C36.2906 25.1434 35.3626 25.1195 34.8414 25.3934Z" fill="#E2E8F0"/>
          <path d="M30.8139 25.7816C30.4585 26.1272 30.2094 26.5674 30.096 27.05L28.2612 34.155L26.7376 28.3529C26.5957 27.6626 26.3093 27.0102 25.8973 26.4384C25.3655 25.7816 24.2594 25.7391 24.1424 25.7391C24.0254 25.7391 22.9272 25.7816 22.3874 26.4384C21.9754 27.0102 21.6891 27.6626 21.5471 28.3529L20.0208 34.155L18.1861 27.05C18.0743 26.5673 17.826 26.127 17.4708 25.7816C16.572 24.9892 15.2266 25.1621 15.2266 25.1621L18.7418 38.4414C18.7418 38.4414 19.9012 38.5265 20.4809 38.2287C21.2413 37.8404 21.603 37.5426 22.0763 35.7345C22.4645 34.1231 23.6212 29.39 23.7302 29.0549C23.7834 28.8874 23.8499 28.4885 24.1424 28.4885C24.4349 28.4885 24.5013 28.8874 24.5545 29.0549C24.6609 29.3926 25.8096 34.1231 26.2218 35.7345C26.6818 37.5426 27.0461 37.8404 27.8172 38.2287C28.3969 38.5265 29.5562 38.4414 29.5562 38.4414L33.0582 25.1621C33.0582 25.1621 31.7127 24.9892 30.8139 25.7816Z" fill="#E2E8F0"/>
          <path d="M36.2906 27.3292C36.0988 27.586 35.8527 27.7976 35.57 27.9487C35.2483 28.1269 34.9398 28.2492 34.6074 28.4088C34.0597 28.6747 33.8975 28.9725 33.8975 29.4165V38.4414C33.8975 38.4414 34.7856 38.553 35.3653 38.2579C36.1098 37.8776 36.2826 37.5107 36.288 35.8647V27.8211L36.2906 27.3292Z" fill="#E2E8F0"/>
          <path d="M45.066 31.8337L49.512 25.2046C49.512 25.2046 47.632 24.8829 46.7013 25.7364C46.2334 26.2016 45.8105 26.71 45.4383 27.2548L43.7976 29.6187C43.774 29.6929 43.7274 29.7576 43.6646 29.8036C43.6017 29.8495 43.5258 29.8743 43.448 29.8743C43.3701 29.8743 43.2943 29.8495 43.2314 29.8036C43.1685 29.7576 43.1219 29.6929 43.0983 29.6187L41.4577 27.2548C41.0845 26.7107 40.6617 26.2024 40.1946 25.7364C39.264 24.8882 37.3813 25.2046 37.3813 25.2046L41.8406 31.8337L37.3946 38.4414C37.3946 38.4414 39.3544 38.6887 40.285 37.8405C40.7246 37.4076 41.1176 36.9299 41.4577 36.4152L43.0983 34.0513C43.1219 33.9771 43.1685 33.9123 43.2314 33.8664C43.2943 33.8204 43.3701 33.7956 43.448 33.7956C43.5258 33.7956 43.6017 33.8204 43.6646 33.8664C43.7274 33.9123 43.774 33.9771 43.7976 34.0513L45.4383 36.4152C45.7947 36.9274 46.1989 37.4046 46.6455 37.8405C47.5762 38.6887 49.5013 38.4414 49.5013 38.4414L45.066 31.8337Z" fill="#E2E8F0"/>
        </svg>
      </div>


      <!-- Icon React -->
      <div class="w-[64px] ">
        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="64" viewBox="0 0 65 64" fill="none">
          <rect x="0.5" width="64" height="64" rx="17.6867" fill="#18181B"/>
          <path d="M32.5657 34.5468C33.9857 34.5468 35.1368 33.3957 35.1368 31.9757C35.1368 30.5558 33.9857 29.4046 32.5657 29.4046C31.1458 29.4046 29.9946 30.5558 29.9946 31.9757C29.9946 33.3957 31.1458 34.5468 32.5657 34.5468Z" fill="#E2E8F0"/>
          <path d="M32.5651 26.7486C36.0165 26.7486 39.2231 27.2439 41.6405 28.0757C44.5531 29.0783 46.3442 30.5984 46.3442 31.9749C46.3442 33.4091 44.4461 35.0243 41.3184 36.0601C38.9538 36.8435 35.8415 37.253 32.5651 37.253C29.2055 37.253 26.0252 36.869 23.6334 36.0516C20.6077 35.0175 18.7852 33.3819 18.7852 31.9749C18.7852 30.6095 20.4955 29.1013 23.3674 28.1004C25.7941 27.255 29.0798 26.7486 32.5651 26.7486Z" stroke="#E2E8F0" stroke-width="1.32013" stroke-miterlimit="10"/>
          <path d="M28.0159 29.3774C29.7398 26.3874 31.7714 23.8571 33.7002 22.179C36.024 20.1568 38.2357 19.3649 39.4278 20.0523C40.67 20.7686 41.1212 23.2199 40.4559 26.4478C39.9529 28.888 38.7531 31.788 37.1158 34.6267C35.4377 37.5368 33.5158 40.1003 31.6134 41.7639C29.2062 43.8686 26.8781 44.6299 25.6597 43.9272C24.477 43.2449 24.025 41.0103 24.5917 38.022C25.0709 35.4951 26.274 32.3963 28.0159 29.3774Z" stroke="#E2E8F0" stroke-width="1.32013" stroke-miterlimit="10"/>
          <path d="M28.0194 34.6329C26.2903 31.6454 25.1127 28.6223 24.6216 26.1132C24.0302 23.0901 24.4482 20.7781 25.6395 20.089C26.8809 19.3702 29.2293 20.2037 31.6934 22.3916C33.5567 24.046 35.4693 26.5338 37.1109 29.37C38.7941 32.2776 40.0559 35.2225 40.5461 37.701C41.1672 40.838 40.6642 43.2349 39.4466 43.9393C38.2647 44.6233 36.1032 43.8994 33.7972 41.9154C31.8497 40.239 29.7655 37.6492 28.0194 34.6329Z" stroke="#E2E8F0" stroke-width="1.32013" stroke-miterlimit="10"/>
        </svg>
      </div>


      <!-- Icon Facebook -->
      <div class="w-[64px] ">
        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="64" viewBox="0 0 65 64" fill="none">
          <rect x="0.25" width="64" height="64" rx="17.6867" fill="#18181B"/>
          <path d="M44.4405 32C44.4405 25.2674 38.9827 19.8095 32.2501 19.8095C25.5174 19.8095 20.0596 25.2674 20.0596 32C20.0596 38.0846 24.5174 43.1279 30.3453 44.0424V35.5238H27.2501V32H30.3453V29.3143C30.3453 26.259 32.1652 24.5714 34.9498 24.5714C36.2836 24.5714 37.6786 24.8095 37.6786 24.8095V27.8095H36.1414C34.6271 27.8095 34.1548 28.7492 34.1548 29.7133V32H37.5358L36.9953 35.5238H34.1548V44.0424C39.9826 43.1279 44.4405 38.0846 44.4405 32Z" fill="#E2E8F0"/>
        </svg>
      </div>


      <!-- Icon google ads -->
      <div class="w-[64px] ">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
          <rect width="64" height="64" rx="17.6867" fill="#18181B"/>
          <path d="M18.9108 35.9615L27.9388 20.5057C29.0855 21.1809 34.8682 24.3812 35.8021 24.9897L26.7742 40.4464C25.7868 41.7507 17.6599 37.9409 18.9108 35.9605V35.9615Z" fill="#CBD5E1"/>
          <path d="M44.8497 35.9611L35.8217 20.5063C34.5596 18.4059 31.8413 17.6427 29.6087 18.8832C27.3761 20.1238 26.6963 22.7961 27.9584 24.9903L36.9863 40.447C38.2484 42.5464 40.9668 43.3097 43.1994 42.0692C45.3345 40.8286 46.1118 38.0615 44.8497 35.963V35.9611Z" fill="#E2E8F0"/>
          <path d="M22.8169 42.6665C25.3198 42.6665 27.3487 40.688 27.3487 38.2473C27.3487 35.8066 25.3198 33.828 22.8169 33.828C20.3141 33.828 18.2852 35.8066 18.2852 38.2473C18.2852 40.688 20.3141 42.6665 22.8169 42.6665Z" fill="#E2E8F0"/>
        </svg>
      </div>



     </div>
    </section>
  
  
    <section class="flex flex-col w-full h-fit px-6 relative xl:w-[1440px] items-start justify-center gap-y-12 mt-20">
    
     <div class="flex flex-col gap-y-4 md:w-full">
       <h2 class="lg:text-6xl xl:text-6xl md:text-6xl text-2xl text-slate-50 font-bold">
       O que estão falando sobre mim?
       </h2>
       
     </div>
 
     <div class="flex flex-row flex-wrap gap-x-4 gap-y-4">
      
      <!-- Depoimento Ingrid -->
      <div class="flex flex-col md:w-[420px]  w-[100%]  h-fit  px-8 py-6 rounded-2xl bg-zinc-900 gap-y-8 backdrop-opacity-10">
        <div class="flex flex-row gap-x-4">
          <Image
            src={AvatarImgIngrid}
            alt="Ingrid Santin"
            width="48"
            height="48"
           />
          <div class="flex flex-col gap-x-4">
            <h5 class="text-slate-50 text-lg font-semibold">Ingrid Santin</h5>
            <span class="text-slate-200 text-sm">Sócia Fundadora</span>
          </div>
      </div>
      <p class="text-slate-100 text-base mt-4">
        "Victor é um dos profissionais mais completos e comprometidos que já trabalhei. Além de todo o amplo conhecimento técnico e estratégico na área de tecnologia e marketing, é um profissional que realmente se preocupa com a entrega e seu propósito final para cada cliente. <br> <br>

          Cada projeto é único e sempre supera todas as expectativas, deixa cada detalhe impecável e, ainda, apresenta soluções práticas, essenciais e antecipação de problemas pra entrega ficar perfeita. Hoje, o Victor é o meu parceiro de confiança, principalmente em projetos que envolvem tecnologia e marketing.”
        </p>

        <a href="https://www.instagram.com/loubfy_/" target="_blank" class="flex flex-row gap-x-4 justify-start items-center">
          <Image
            src={LogoLoubfy}
            alt="Loubfy"
            width="32"
            height="32"
           />
          <span class="text-slate-200 text-lg font-semibold">@loubfy_</span>
        </a>
     </div>
     
       <!-- Depoimento Thauane -->
       <div class="flex flex-col md:w-[420px]  w-[100%]  h-fit px-8 py-6 rounded-2xl bg-zinc-900 gap-y-8 backdrop-opacity-10">
        <div class="flex flex-row gap-x-4">
          <Image
            src={AvatarImgThauane}
            alt="Thauane"
            width="48"
            height="48"
           />
          <div class="flex flex-col gap-x-4">
            <h5 class="text-slate-50 text-lg font-semibold">Ingrid Santin</h5>
            <span class="text-slate-200 text-sm">Sócia Fundadora</span>
          </div>
      </div>
      <p class="text-slate-100 text-base mt-4">
        “O Victor conseguiu captar exatamente o que a gente queria e ainda nos entregou algo que foi além das nossas expectativas. <br> <br>

        Ficamos muito contentes com o resultado e indicamos muito não só pela entrega final mas também pelo profissionalismo, responsabilidade e cuidado que teve em todo o processo.”        </p>

        <a href="https://www.instagram.com/mutinnocontent/" target="_blank" class="flex flex-row gap-x-4 justify-start items-center">
          <Image
            src={LogoMutinno}
            alt="Mutinno"
            width="32"
            height="32"
           />
          <span class="text-slate-200 text-lg font-semibold">@mutinnocontent</span>
        </a>
     </div>


     <!-- Depoimento Kelvyn -->
     <div class="flex flex-col md:w-[420px] w-[100%] h-fit px-8 py-6 rounded-2xl bg-zinc-900 gap-y-8 backdrop-opacity-10">
      <div class="flex flex-row gap-x-4">
        <Image
          src={AvatarImgKelvyn}
          alt="Kelvyn"
          width="48"
          height="48"
         />
        <div class="flex flex-col gap-x-4">
          <h5 class="text-slate-50 text-lg font-semibold">Ingrid Santin</h5>
          <span class="text-slate-200 text-sm">Sócia Fundadora</span>
        </div>
    </div>
    <p class="text-slate-100 text-base mt-4">
      “Trabalhar com o Victor sem dúvidas foi uma das melhores experiências profissionais que já tive, profissional extremamente comunicativo, eficiente e pontual.”      </p>

      <a href="https://www.instagram.com/loubfy_/" target="_blank" class="flex flex-row gap-x-4 justify-start items-center">
        <Image
          src={LogoLoubfy}
          alt="Loubfy"
          width="32"
          height="32"
         />
        <span class="text-slate-200 text-lg font-semibold">@loubfy_</span>
      </a>
   </div>
    
   <div class="absolute -bottom-40 right-10 lg:bottom-20 lg:right-40 opacity-50">
    <Image
      src={BgCilindro}
      alt="Background"
      width="320"
      
     />
  </div>
  </section>
    

 
    <section class="flex flex-col w-full h-auto my-40 px-6 relative xl:w-[1440px] items-start justify-center gap-y-8">
      <div class="flex flex-col gap-y-4 md:w-full">
        <h2 class="lg:text-6xl xl:text-6xl md:text-6xl text-2xl text-slate-50 font-bold">
       Portfólio
        </h2>
        <p class="text-base text-slate-200">
          Principais projetos
        </p>
      </div>
    
      <div class="flex flex-row flex-wrap w-full gap-y-8 gap-x-4">

        <PortfolioCard 
          spanText="Mutinno"
          title="Landing Page • Mais Que Um Post Bonito"
          description="Design e Desenvolvimento • RD Station"
          imageCard={SiteMutinno}
          alt="Landing Page Mutinno - Mais Que Um Post Bonito"
          link="https://materiais.mutinno.com.br/q1pb"
          linkText="Visitar site"
        />


        <PortfolioCard 
          spanText="To Grow"
          title="Site Institucional"
          description="Desenvolvimento • Wordpress e Elementor"
          imageCard={SiteTogrow}
          alt="Site To Grow"
          link="https://togrow.tech"
          linkText="Visitar site"
        />


        <PortfolioCard 
          spanText="Disparo Pro"
          title="Landing Page • Disparo Festival "
          description="Desenvolvimento • Wordpress e Elementor"
          imageCard={LpDisparo}
          alt="Landing page Disparo Festival Disparo PRO"
          link="https://disparopro.com.br/disparo-festival"
          linkText="Visitar site"
        />


        <PortfolioCard 
        spanText="Disparo Pro"
        title="Site institucional"
        description="Desenvolvimento • Wordpress e Elementor"
        imageCard={SiteDisparo}
        alt="Site Disparo Pro"
        link="https://disparopro.com.br/"
        linkText="Visitar site"
        />
        
        <PortfolioCard 
        spanText="Brasilfone"
        title="Site institucional"
        description="Design e Desenvolvimento • Wordpress e Elementor"
        imageCard={SiteBrasilfone}
        alt="Site Brasilfone"
        link="https://brasilfone.com.br/"
        linkText="Visitar site"
      />

      <PortfolioCard 
      spanText="Ativos Capital"
      title="Site institucional"
      description="Design e Desenvolvimento • Wordpress e Elementor"
      imageCard={SiteAtivos}
      alt="Site Ativos Capital"
      link="https://ativos.capital/"
      linkText="Visitar site"
      />

      <PortfolioCard 
      spanText="Linkou"
      title="Blog • Linkou"
      description="Design e Desenvolvimento • Wordpress e Elementor"
      imageCard={SiteLinkou}
      alt="Site Linkou Digital"
      link="https://linkou.digital/"
      linkText="Visitar site"
      />

      <PortfolioCard 
      spanText="Capton"
      title="Landing Page • Página de benefícios"
      description="Design e Desenvolvimento • Wordpress e Elementor"
      imageCard={LpCapton}
      alt="Página de benefícios Capton"
      link="https://beneficios.capton.com.br/"
      linkText="Visitar site"
      />

      <PortfolioCard 
      spanText="estud.you"
      title="Site Institucional"
      description="Design e Desenvolvimento • Wordpress e Elementor"
      imageCard={SiteEstudyou}
      alt="Site estud.you"
      link="https://estudyou.com/"
      linkText="Visitar site"
      />

      </div>

    </section>





</Layout>


