---
import { SEO } from "astro-seo";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import AvatarImgIngrid from "../assets/avatar-ingrid.png";
import LogoLoubfy from "../assets/logo-loubfy.png";
import AvatarImgThauane from "../assets/avatar-thauane.png";
import LogoMutinno from "../assets/logo-mutinno.png";
import AvatarImgKelvyn from "../assets/avatar-kelvyn.png";
import MainButton from "../components/MainButton.astro";
import SocialIcons from "../components/SocialIcons.astro";
import LogoFigma from "/src/assets/icons/logo-figma.svg";
import LogoWordpress from "/src/assets/icons/logo-wordpress.svg";
import LogoElementor from "/src/assets/icons/logo-elementor.svg";
import LogoReact from "/src/assets/icons/logo-react.svg";
import LogoAstro from "/src/assets/icons/logo-astro.svg";
import LogoJavascript from "/src/assets/icons/logo-javascript.svg";
import LogoRD from "/src/assets/icons/logo-rd-station.svg";
import LogoWebflow from "/src/assets/icons/logo-webflow.svg";
import LogoFacebook from "/src/assets/icons/logo-facebook.svg";
import LogoGoogle from "/src/assets/icons/logo-google-ads.svg";



---

<head>
  <SEO
    title="Victor Benazzi - Web Designer"
    description="Criação de Sites e landing pages que convertem."
    openGraph={{
      basic: {
        title: "Front-end Developer e Web Designer",
        type: "Website",
        image: "https://i.imgur.com/hBQ4P4Y.png",
      },
    }}
  />
</head>

<Layout title="Victor Benazzi - Web Designer" >
 

  <section
    class="flex flex-col items-start justify-center gap-y-10 w-full lg:w-[1024px]  mt-40 px-6 lg:px-0"
  >
    
      
      <h1
        class="text-5xl lg:text-5xl x:text-8xl text-stone-50 font-bold lg:items-start"
        transition:name="h1"
      >
        Web Designer & Front-end Developer
      </h1>
      <p class="text-stone-300 w-full text-base" transition:name="p">
        Sou web designer e front-end developer, especialista em criar sites e
        landing pages incríveis. Desenvolvo soluções web que aliam design,
        funcionalidade e responsividade.
      </p>
      <SocialIcons />
    

    
  </section>

  <!-- ÍCONES DE STACKS -->
  <section
    class="flex flex-col items-start justify-center gap-y-10 w-full lg:w-[1024px]  mt-40 px-6 lg:px-0"
  >
    <div class="flex flex-col gap-y-6 w-full">
      <h2
        class="lg:text-4xl text-2xl text-stone-50 font-bold"
      >
        Criação e integração 🧑‍💻
      </h2>
      <p class="text-stone-300 xl:w-[50%] w-[100%] text-base">
        Crio, desenvolvo e integro com as principais ferramentas do mercado.
      </p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-x-4 gap-y-4 w-full ">
        
      <!-- Figma -->
      <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
        <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
          <Image
            src={LogoFigma}
            alt="figma"
            width="16"
            height="16"
            loading="lazy"
        >
        </div>
        <h3 class="text-base text-stone-300">Figma</h3>
        </div>

    
        
        <!-- wordpress -->
        <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
        <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
          <Image
            src={LogoWordpress}
            alt="Wordpress"
            width="16"
            height="16"
            loading="lazy"
        >
        </div>
        <h3 class="text-base text-stone-300">Wordpress</h3>
        </div>

         <!-- elementor -->
         <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
          <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
            <Image
              src={LogoElementor}
              alt="Elementor"
              width="16"
              height="16"
              loading="lazy"
          >
          </div>
          <h3 class="text-base text-stone-300">Elementor</h3>
          </div>

          <!-- React -->
         <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
          <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
            <Image
              src={LogoReact}
              alt="React"
              width="16"
              height="16"
              loading="lazy"
          >
          </div>
          <h3 class="text-base text-stone-300">React</h3>
          </div>

        

        <!-- Astro -->
        <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
          <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
            <Image
              src={LogoAstro}
              alt="Astro"
              width="16"
              height="16"
              loading="lazy"
          >
          </div>
          <h3 class="text-base text-stone-300">Astro</h3>
          </div>


        <!-- Javascript -->
        <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
          <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
            <Image
              src={LogoJavascript}
              alt="Javascript"
              width="16"
              height="16"
              loading="lazy"
          >
          </div>
          <h3 class="text-base text-stone-300">Javascript</h3>
        </div>


         <!-- Rd Station -->
         <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
          <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
            <Image
              src={LogoRD}
              alt="RD Station"
              width="16"
              height="16"
              loading="lazy"
          >
          </div>
          <h3 class="text-base text-stone-300">RD Station</h3>
        </div>



        
         <!-- Webflow -->
         <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
          <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
            <Image
              src={LogoWebflow}
              alt="Webflow"
              width="16"
              height="16"
              loading="lazy"
          >
          </div>
          <h3 class="text-base text-stone-300">Webflow</h3>
        </div>

        <!-- Facebook -->
        <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
          <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
            <Image
              src={LogoFacebook}
              alt="Facebook"
              width="16"
              height="16"
              loading="lazy"
          >
          </div>
          <h3 class="text-base text-stone-300">Facebook</h3>
        </div>


        <!-- Google Ads -->
        <div class="flex flex-col items-center justify-start gap-y-2 border-stone-800 rounded-lg border p-2 hover:bg-stone-800">
          <div class="flex flex-row items-center justify-center border-stone-800 rounded-lg w-12 h-12 border bg-stone-950">
            <Image
              src={LogoGoogle}
              alt="Google Ads"
              width="16"
              height="16"
              loading="lazy"
          >
          </div>
          <h3 class="text-base text-stone-300">Google Ads</h3>
        </div>

        </div>

  </section>


<!-- DEPOIMENTOS -->
<section class="flex flex-col items-start justify-center gap-y-10 w-full lg:w-[1024px]  mt-20 px-6 lg:px-0">

  <div class="flex flex-col gap-y-4 w-full">
    <h2
      class="lg:text-4xl text-2xl text-stone-50 font-bold"
    >
    O que estão falando sobre mim
    </h2>
  </div>

  <div class="grid grid-cols md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-4">


     <!-- Depoimento Ingrid -->
      <div
     class="flex flex-col h-fit px-8 py-6  gap-y-8  border-stone-800 rounded-lg border"
   >
     <div class="flex flex-row gap-x-4">
       <Image
         src={AvatarImgIngrid}
         alt="Ingrid Santin"
         width="48"
         height="48"
       />
       <div class="flex flex-col gap-x-4">
         <h5 class="text-stone-50 text-lg font-semibold">Ingrid Santin</h5>
         <span class="text-stone-500 text-sm">CEO e Sócia Fundadora</span>
       </div>
     </div>
     <p class="text-stone-200 text-base mt-4">
       "Victor é um dos profissionais mais completos e comprometidos que já
       trabalhei. Além de todo o amplo conhecimento técnico e estratégico na
       área de tecnologia e marketing, é um profissional que realmente se
       preocupa com a entrega e seu propósito final para cada cliente. <br />
       <br />

       Cada projeto é único e sempre supera todas as expectativas, deixa cada
       detalhe impecável e, ainda, apresenta soluções práticas, essenciais e
       antecipação de problemas pra entrega ficar perfeita. Hoje, o Victor é o
       meu parceiro de confiança, principalmente em projetos que envolvem
       tecnologia e marketing.”
     </p>

     <a
       href="https://www.instagram.com/loubfy_/"
       target="_blank"
       class="flex flex-row gap-x-4 justify-start items-center"
     >
       <Image src={LogoLoubfy} alt="Loubfy" width="32" height="32" />
       <span class="text-slate-200 text-lg font-semibold">@loubfy_</span>
     </a>
      </div>

      <!-- Depoimento Thauane -->
    <div
    class="flex flex-col h-fit px-8 py-6  gap-y-8 border-stone-800 rounded-lg border"
    >
      <div class="flex flex-row gap-x-4">
        <Image src={AvatarImgThauane} alt="Thauane" width="48" height="48" />
        <div class="flex flex-col gap-x-4">
          <h5 class="text-stone-50 text-lg font-semibold">Thauane Rizzi</h5>
          <span class="text-stone-500 text-sm">CEO e Sócia Fundadora</span>
        </div>
      </div>
      <p class="text-stone-200 text-base mt-4">
        “O Victor conseguiu captar exatamente o que a gente queria e ainda nos
        entregou algo que foi além das nossas expectativas. <br />
        <br />

        Ficamos muito contentes com o resultado e indicamos muito não só pela
        entrega final mas também pelo profissionalismo, responsabilidade e
        cuidado que teve em todo o processo.”
      </p>

      <a
        href="https://www.instagram.com/mutinnocontent/"
        target="_blank"
        class="flex flex-row gap-x-4 justify-start items-center"
      >
        <Image src={LogoMutinno} alt="Mutinno" width="32" height="32" />
        <span class="text-slate-200 text-lg font-semibold">@mutinnocontent</span
        >
      </a>
    </div>

    <!-- Depoimento Kelvyn -->
    <div
      class="flex flex-col h-fit px-8 py-6  gap-y-8 backdrop-opacity-10  border-stone-800 rounded-lg border"
    >
      <div class="flex flex-row gap-x-4">
        <Image src={AvatarImgKelvyn} alt="Kelvyn" width="48" height="48" />
        <div class="flex flex-col gap-x-4">
          <h5 class="text-stone-50 text-lg font-semibold">Kelvyn Castro</h5>
          <span class="text-stone-500 text-sm">Presidente e Sócio Fundador</span
          >
        </div>
      </div>
      <p class="text-stone-200 text-base mt-4">
        “Trabalhar com o Victor sem dúvidas foi uma das melhores experiências
        profissionais que já tive, profissional extremamente comunicativo,
        eficiente e pontual.”
      </p>

      <a
        href="https://www.instagram.com/loubfy_/"
        target="_blank"
        class="flex flex-row gap-x-4 justify-start items-center"
      >
        <Image src={LogoLoubfy} alt="Loubfy" width="32" height="32" />
        <span class="text-slate-200 text-lg font-semibold">@loubfy_</span>
      </a>
    </div>


  </div>
</section>


<section class="w-full px-6 xl:px-0 xl:w-[1024px] mt-10">
  <div class=" w-full p-8 border-stone-800 border text-stone-50 rounded-xl" transition:name="falecomigocard">
    <div class="flex flex-col gap-y-6 ">
      <div class="flex flex-row items-center justify-start text-stone-100">
        <div class="w-10 h-10">
          <Icon
            name="noto:rocket"
          />
  
        </div>
      </div>
            <h2 class="text-[2rem] leading-none font-bold ">Tem um projeto em mente?</h2>
            <p class="text-stone-300 w-full text-base">
            Se você tem algum projeto em mente, sinta-se à vontade para me enviar uma mensagem.
            </p>
            <div class="flex flex-row items-center gap-x-4">
            <MainButton 
            labelButton="Fale comigo"
            link="https://wa.me/5569992993889"
            target="_blank"
            />
            <a
            class="text-stone-200 hover:text-stone-50 hover:underline text-base font-bold"
            href="/projetos">Ver meus projetos</a
            > 
          </div>
     </div>
</div> 
</section>
</Layout>