---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon";
export interface Props {
   
    title: string ;
    description: string ;
    imageCard: any;
    link: string ;
    linkText: string ;
    alt: string ;
    stacks: string ;
}

const { title,  description, imageCard, link, linkText, alt, stacks } = Astro.props;
---

<div class="flex flex-col h-fit bg-zinc-800  px-8 py-6 rounded-lg justify-between gap-y-8 border border-zinc-700 min-h-[500px]" >
    

    <div class="aspect-video bg-cover bg-no-repeat bg-top tran hover:bg-bottom rounded-lg" style={{backgroundImage: `url(${imageCard.src})`, transition: "ease-in-out 7s" }}></div>

    <div class="flex flex-col">
        <h3 class=" text-indigo-400 text-2xl font-bold">{title}</h3>
        <p class="text-sm text-slate-400">{stacks}</p>
    </div>

    <p class="text-sm text-slate-100">{description}</p>
    

    <a href={link} target="_blank" class="flex flex-row items-center gap-x-2 text-base text-indigo-300 hover:text-indigo-400 font-bold">
        {linkText}

        <div class="w-[18px] h-[18px]">
            <Icon
              name="ph:arrow-square-out-bold"
            />
    
          </div>
    </a>

</div>
