---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon";
export interface Props {
   
    title: string ;
    description: string ;
    imageCard: any;
    link: string ;
    linkText: string ;
    alt: string ;
    stacks: string ;
}

const { title,  description, imageCard, link, linkText, alt, stacks } = Astro.props;
---

<div class="flex flex-col h-fit p-6  justify-between gap-y-8 border-stone-800 rounded-lg border ">
    

    
        <Image
            class="rounded-lg border border-stone-800 aspect-video hover:opacity-80"
            src={imageCard}
            alt={alt}
        />

    <div class="flex flex-col">
        <h3 class=" text-stone-50 text-2xl font-bold">{title}</h3>
        <p class="text-sm text-stone-300">{stacks}</p>
    </div>

    <p class="text-sm text-stone-200">{description}</p>
    

    <a href={link} target="_blank" class="flex flex-row items-center gap-x-2 text-base w-fit text-stone-50 hover:underline font-bold ">
        {linkText}

        <div class="w-[18px] h-[18px]">
            <Icon
              name="ph:caret-right-bold"
            />
    
          </div>
    </a>

</div>
